<!DOCTYPE html>
  <html>
    <head>
      <title>About | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>ABOUT</h1>
            <p>
                Here is a page about somethings. Granted, maybe this was not the best idea, but, at least we care enough about our employees that we are willing to fight for them. 
                And if you much as harm a hair on Stanley's head, we will burn Utica to the ground.
            </p>
            <p>
                The only time you should care about a woman's age is if she is too young for you. And I am not robbing the cradle. If anything, I am robbing the grave...
            </p>
    </body>
  </html>
