<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>
    Do I feel bad about betraying Jim? Not at all. That's the game. Convince him we're in an alliance, get some information, throw him to the wolves.
    That's politics baby! Get what you can out of someone, then crush them. I think Jim might have learned a very valuable lesson.
</p>
<p>
    A lot of jazz cats are blind. But, they can play the piano like nobody's business. 
    I'd like to put the piano in front of Pam, without her glasses and see what happens. I'd also like to see her topless.
</p>